@import url(https://fonts.googleapis.com/css?family=Courgette);

h1 {
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courgette', cursive !important;
}

nav {
  background-color: #cccccc;
}

a:hover {
  text-decoration: none; 
}

.container {
  max-width: 400px;
}