@import url(https://fonts.googleapis.com/css?family=Courgette);

html {
  margin-bottom: 10%;
}

h1 {
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courgette', cursive;
}

nav {
  background-color: #cccccc;
}

a:hover {
  text-decoration: none; 
}

.container {
  max-width: 620px;
}

.home-link {
  font-family: 'Courgette', cursive;
  font-size: 24px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}